[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dm-pybloom = "*"
lxml = "*"
justext = "*"
unidecode = "*"
tldextract = "*"
wikipedia-api = "*"
psycopg2 = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
